name: Lint code

on: push

jobs:
  lint-code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install
        run: yarn install --frozen-lockfile
      - name: Lint
        run: yarn lint
