name: Test code

on: push

jobs:
  test-code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install
        run: yarn install --frozen-lockfile
      - name: Test
        run: yarn test
